*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
p,
h1,
h2,
h3,
h4,
ul,
li {
  padding: 0;
  margin: 0;
}
body {
  max-width: 1600px;
  background-color: var(--white-text);
}
a {
  text-decoration: none;

  /*Поїхали :)  */
}
.header {
  background-color: var(--white-text);
  border-bottom: var(--border-color);
}
.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  align-items: center;
  text-align: center;
  padding: 24px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
.nav-link {
  display: flex;
  align-items: center;
}
.ul-link {
  display: flex;
}
.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--blue-text);
  font-size: 26px;
  letter-spacing: 0.03;
  line-height: 1.15;
}
.logo-studio {
  padding-right: 43px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--black-dark-text);
  font-size: 26px;
  letter-spacing: 0.03;
  line-height: 1.15;
}
.logo-studio-white {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--white-text);
  font-size: 26px;
  letter-spacing: 0.03em;
}
.active {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--blue-text);
  letter-spacing: 0.02em;
}
.nav-logo {
  padding-left: 50px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--black-text);
  letter-spacing: 0.02em;
}
.nav-contacts:hover {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--blue-text);
  letter-spacing: 0.02em;
}
.nav-contacts {
  padding-left: 50px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-text);
  letter-spacing: 0.02em;
}

/* -----------Блок героя--------- */

.hero {
  background-color: var(--dark-grey-bac);
  max-width: 1600px;
  text-align: center;
}
.container-hero {
  padding: 200px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

.hero-text {
  font-family: "roboto";
  font-size: 44px;
  font-weight: 900;
  color: var(--white-text);
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.button-zakaz {
  margin-top: 30px;
  border: 0;
  padding: 10px 32px;
  background-color: var(--blue-text);
  color: var(--white-text);
  display: inline-block;
  border-radius: 4px;
  font-family: "roboto";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
}
.button-zakaz:hover {
  color: var(--blue-text);
  letter-spacing: 0.06em;
  background-color: var(--white-text);
}
.hide {
  height: 0px;
  overflow: hidden;
}

/* --------Блок лапші--------- */

.container-approach {
  padding: 94px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
.ul-approach {
  display: flex;
  justify-content: space-between;
}

.approach {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 700;
  color: var(--black-text);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.14;
}
.approach-text {
  max-width: 270px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-text);
  letter-spacing: 0.03em;
  line-height: 1.71;
}

/*---- Блок Чим Займаємось ------ */

.container-what-we-do {
  margin-bottom: 94px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
.what-we-do {
  padding-bottom: 50px;
  text-align: center;
  font-family: "roboto";
  font-size: 36px;
  font-weight: 700;
  color: var(--black-text);
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.img-container {
  justify-content: space-between;
  display: flex;
}

/* ---Наша команда--- */

.our-them {
  background-color: var(--buutom-bac);
}
.container-them {
  padding: 94px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
.team {
  margin-bottom: 50px;
  text-align: center;
  font-family: "roboto";
  font-size: 36px;
  font-weight: 700;
  color: var(--black-text);
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.team-name {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  color: var(--black-dark-textt);
  letter-spacing: 0.03em;
  line-height: 1.18;
}
.team-text {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  color: var(--grey-text);
  letter-spacing: 0.03em;
  line-height: 1.18;
}

/* Карточки команди */

.card-team {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--team-card-set-gap));
  margin-top: calc(-1 * var(--team-card-set-gap));
}
.card-team > .item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--team-card-set-gap);
  margin-top: var(--team-card-set-gap);
}

.team-card {
  margin-bottom: 94px;
  box-shadow: var(--team-card-shadow);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  background-color: var(--white-text);
}

.team-card-content {
  padding: 30px;
}

/* ----------Підвал------ */

.footer {
  background-color: var(--dark-grey-bac);
}
.containers-footer {
  padding: 60px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}
.map {
  display: inline-block;
  margin-bottom: 9px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--white-text);
  line-height: 1.71;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.footer-address {
  display: inline-block;
  margin-bottom: 9px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-text-op60);
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.address {
  font-style: normal;
}
/* -------------------------- */
/* --------Portfolio ---------*/
/* -------------------------- */
.portfolio {
  padding: 94px 0;
}
.container-portfolio {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
.ul-button {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
}
.portfol-button {
  margin-right: 8px;
  background-color: var(--buutom-bac);
  border: 0;
  border-radius: 4px;
}
.portfol-button:hover {
  background-color: var(--blue-text);
  border: 0;
}
.text-button {
  padding: 6px 22px;
  color: var(--black-text);
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.62;
}
.text-button:hover {
  color: var(--white-text);
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.62;
}
/* Головнй контент */
.project-name {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--black-text);
  line-height: 2;
}
.signature {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--grey-text);
  line-height: 1.87;
}
/*Карточки головного контенту   */
/* CARD SET */
.card-set {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set > .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

/* CARD */
.card {
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
}

.card-content {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}
.card-thumb {
}
